body {
  background-color: #000;
  color: white;
  font-size: 14pt;
  font-family: Arial, sans-serif;
}

main {
  width: 760px;
  background-color: black;
  padding: 10px;
  overflow: hidden;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

#left, #right {
  width: 360px;
  overflow: hidden;
  margin: 5px;
  float: left;
}
